{% extends "base.html" %}

{% block content %}
<h2>Instance View</h2>

<table>
    <tr>
        <td align="right" style="font-weight:bold">name:</td>
        <td>{{datasingle.name}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">active:</td>
        <td>{{datasingle.is_active}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">desc:</td>
        <td>{{datasingle.desc}}</td>
    </tr>
</table>
<hr>
<a href="{{ url_for('bag.view', id=datasingle.bag_id) }}">back</a>
 | <a href="{{ url_for('.edit', id=datasingle.id) }}">edit</a>
 | <a href="{{ url_for('.delete', id=datasingle.id) }}">delete</a>
 | <a href="{{ url_for('audit.list', id=datasingle.id, model='instance') }}">audit</a>

<hr>
<h2>Keyval List</h2>
{% if keyvallist %}
    <table>
        <thead>
            <td></td>
            <td class="underline">Instance</td>
            <td class="underline">Key</td>
            <td class="underline">Value</td>
            <td class="underline">Active</td>
        </thead>
        {% for kv in keyvallist %}
            <tr>
                <td><a href="{{ url_for('keyval.view', id=kv.id) }}">view</a></td>
                <td>{{datasingle.name}}</td>
                <td>{{kv.name}}</td>
                <td>{{kv.val}}</td>
                <td>{{kv.is_active}}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
    <p>
        {% if prev_url %}
            <a href="{{ prev_url }}">prev</a>
        {% else %}
            prev
        {% endif %}
        |
        {% if next_url %}
            <a href="{{ next_url }}">next</a>
        {% else %}
            next
        {% endif %}
    </p>
{% else %}
    No Keyvals for this Instance
{% endif %}

{% endblock %}
