{% extends "base.html" %}

{% block content %}
<h2>Keyval View</h2>

<table>
    <tr>
        <td align="right" style="font-weight:bold">name:</td>
        <td>{{keysingle.name}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">value:</td>
        <td>{{datasingle.val}}</td>
    </tr>
    <tr>
        <td align="right" style="font-weight:bold">active:</td>
        <td>{{datasingle.is_active}}</td>
    </tr>
</table>
<hr>
<a href="{{rtn}}">back</a>
 | <a href="{{ url_for('.edit', id=datasingle.id) }}">edit</a>
 | <a href="{{ url_for('audit.list', id=datasingle.id, model='keyval') }}">audit</a>

{% endblock %}
